@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-gradient-og {
    background: linear-gradient(to right, #48C6B6, #4B79E4, #A436D2, #F18F3B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  .bg-gradient-og {
    background: linear-gradient(to right, #48C6B6, #4B79E4, #A436D2, #F18F3B);
  }
  .bg-gradient-og-br {
    background: linear-gradient(to bottom right, #48C6B6, #4B79E4, #A436D2, #F18F3B);
  }
  .animate-blob {
    animation: blob 7s infinite;
  }
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}
